Source: ros-hydro-p2os-urdf
Section: misc
Priority: extra
Maintainer: Hunter Allen <hunter.allen@vanderbilt.edu>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-message-generation, ros-hydro-robot-state-publisher, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-urdf
Homepage: http://ros.org/wiki/p2os-vanderbilt
Standards-Version: 3.9.2

Package: ros-hydro-p2os-urdf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-message-runtime, ros-hydro-robot-state-publisher, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-urdf
Description: URDF file descriptions for P2OS/ARCOS robot
